<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/pessoas/<%=pessoa.id%>?__method=PATCH" method="POST">
        <textarea name="pessoa" id="pessoa" cols="30" rows="10"><%=pessoa.nome%> </textarea>
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>