<%-include('partials/head') %> 
<body id="fundo" class="fundo">
    <%-include('partials/navbar') %> 
    <div class="card" id="telaLogin" class="telaLogin" >
        <div class="card-body">
            <figure class="figure">
                <img src="https://static3.tcdn.com.br/img/img_prod/703418/placa_decorativa_seja_bem_vindo_3959_1_20200217074849.jpg" class="figure-img img-fluid rounded" alt="Bem Vindo" width="350" height="350">
                <figcaption style="text-align: center;" class="figure-caption">Hotel Web</figcaption>
              </figure>
        </div>
      </div>
</body>
</html>