<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Novo usuário</h1>
    <form action='/usuarios/novo' method='POST'>
        <section>
            <label>E-mail: </label>
            <input type="email" id='email' placeholder="Digite seu email" name='email'>
        </section>

        <section>
            <label>Senha: </label>
            <input type="password" id='senha' placeholder="Digite a senha" name='senha'>
        </section>
        <button>Enviar</button>
    </form>    
</body>
</html>